.content {
  font-family: GothamLight;
}

.heading {
  font-family: Gotham;
  letter-spacing: 1px;
}

.home {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
}

.carousel-indicator {
  background: linear-gradient(78.35deg, #5814B3 17.66%, #2030B8 95.59%);
}

.webinarButton {
  background: rgba(131, 80, 213, 0.5);
}

.discover {
  width: 209px;
  height: 54px;
  background: linear-gradient(301.19deg, #AC27DB -82.41%, #4726CE 128.52%);
  box-shadow: 1px 4px 30px rgba(145, 65, 230, 0.37);
  border-radius: 65px;
}

.purplebg {
  position: absolute;
  width: 1519px;
  height: 670px;
  top: 660px;

  background: linear-gradient(78.35deg, #5814B3 17.66%, #2030B8 95.59%);
  z-index: -1;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 70px 0px 70px 0px;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}