.content {
  font-family: GothamLight;
}

.heading {
  font-family: Gotham;
  letter-spacing: 1px;
}

.buttonText {
  font-family: GothamMedium;
}

.navbar {
  background-color: #5446DB;
}

.home {
  padding: 100px 30px 200px 30px;
  margin: 0px auto;
}

.homePurple {
  position: absolute;
  width: 653px;
  height: 995px;
  left: 866px;
  top: -3px;

  background: url(Vector-294-1.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -1;
}

.carousel-indicator {
  background: linear-gradient(78.35deg, #5814B3 17.66%, #2030B8 95.59%);
}

.webinarButton {
  background: rgba(131, 80, 213, 0.5);
}

.webinarComponent {
  padding: 110px 0px 200px 0px;
}

.discover {
  width: 209px;
  height: 54px;
  background: linear-gradient(301.19deg, #AC27DB -82.41%, #4726CE 128.52%);
  box-shadow: 1px 4px 30px rgba(145, 65, 230, 0.37);
  border-radius: 65px;
}

.purplebg {
  position: absolute;
  width: 1519px;
  height: 270px;
  left: 0px;
  top: 987px;

  background: linear-gradient(78.35deg, #5814B3 17.66%, #2030B8 95.59%);
  z-index: -1;
}

.fullstop {
  color: #5814B2;
}

.projectsComponent {
  padding: 100px 0px 0px 0px;
}

.timelineButton {
  width: 146px;
  height: 40px;
  background: linear-gradient(112.32deg, #5416B3 -24.03%, #262DB7 117.82%);
  box-shadow: 2px 6px 25px rgba(106, 98, 242, 0.39);
  border: 2px solid #5416B3;
  box-sizing: border-box;
}

.viewMore {
  width: 195px;
  height: 56px;

  background: #3327B6;
  border: 2px solid #5416B3;
  box-sizing: border-box;
}

.meetUsBgImage {
  position: absolute;
  left: 626px;
  top: 30.5px;
  z-index: -1;
}

.meetUs {
  padding: 100px 0px 120px 0px;
}

.meetUsBanner {
  position: absolute;
  width: 1515px;
  height: 513.5px;
  left: -1px;
  top: 3596.5px;
  background-color: #171717;
  z-index: -1;
}

.meetUsCard {
  width: 265px;
  height: 447px;
  background: #FFFFFF;
  box-shadow: 2px 6px 30px rgba(191, 191, 191, 0.35);
  border-radius: 20px;
}

.services {
  padding: 100px 0px 50px 0px;
}

.row-content {
  margin:0px auto;
  padding: 0px 0px 40px 0px;
  border-bottom: #8A8A8A 2px ridge;
}

.footer{
  background-color: #5446DB;
  margin:0px auto;
  padding: 40px;
}