@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url(./fonts/Gotham-Regular.otf) format(opentype);
}

.body {
  font-family: Gotham;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}